html, body {
    text-align: center;
    background-color: #d7d7d7;
    color: #8c918e;
    font-size: 15px;
    font-family: Helvetica;
}

main {
    height: 50vw;
}

header, footer {
    background-color: #404044;
    color: #8c918e;
    z-index: 100;
}

a[href] {
    text-decoration: none;
}

button {
    background-color: #404044;
    color: #8c918e
}

button:hover {
    opacity: 0.75;
    cursor: pointer;
    color: white
}

header {
    position: relative;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px
}

header a {
    color: white;
    font-size: 40px;
}

header a:hover {
    color: white;
}

#infoContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsibleInfo {
    padding: 18px;
    width: 10%;
    border: none;
}

.collapsibleInfo:hover {
    color: white;
}

.collapsibleInfo:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-weight: bold;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

footer a {
    color: #8c918e;
    font-weight: 400;
}

footer a:hover {
    color: white;
}

.content {
    width: 50%;
}

#contentLeft {
    float: left;
}

#contentLeft label {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30vw;
}

#contentLeft button {
    margin-left: 30vw;
}

#contentLeft div {
    margin-left: 30vw;
}

#contentRight {
    float: right
}

#contentRight button {
    margin-right: 30vw;
}

#contentRight div {
    margin-right: 30vw;
}

.content button {
    font-size: 1.6vw;
    height: 60px;
    width: 11vw;
    line-height: 60px;
    margin: 25px auto;
    text-align: center;
    border: 0;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
    opacity: 1;
    display: inline-block;
}

.content button:hover {
    opacity: 0.75;
}

.buttonContent {
    font-size: 1.6vw;
    max-height: 0;
    width: 11vw;
    margin: 0 auto;
    text-align: center;
    border: 0;
    border-radius: 10px;
    background-color: #404044;
    opacity: 0.75;
    display: inline-block;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

::-webkit-file-upload-button {
    display: none;
}

.submitFormButton {
    background: #404044;
    font-size: 1.6vw;
    height: 60px;
    width: 11vw;
    line-height: 60px;
    margin-left: 30vw;
    margin-top: 25px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    opacity: 1;
    display: inline-block;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.submitFormButton:hover {
    opacity: 0.75;
}

.uploadFileMetadata {
    font-size: 1.3vw;
    position: absolute;
    margin-top: 25vh;
    width: 30.55vw;
    height: 7vw;
    background-color: #404044;
    border-radius: 10px;
    left: 50%;
    transition: all 0.2s ease 0s;
    transform: translate(-50%,-50%);
}

.uploadFileMetadata p {
    padding-top: 2.7vw;
    margin: 0;
}

iframe {
    position: absolute;
    margin-top: 40vh;
    border-width: 0;
    width: 30.55vw;
    height: 7vw;
    transform: translate(-50%,-50%);
}
